@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


$white: #ffffff;
$black: #000000d2;
$primary: #3b5d50;
$secondary: #f9bf29;
$dark: #2f2f2f;
$light: #dce5e4;
$lighter: #eff2f1;
$body_color: #6a6a6a;
$paragraph: rgba($color: #ffffff, $alpha: .5);
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$font-family: "Inter", sans-serif;


body {
	overflow-x: hidden;
	position: relative;
}

.text-opacity-half{
    color: $paragraph;
}

/* Navbar */
.navbar-toggler{
    border-color: transparent !important;
}
.navbar-toggler:focus{
    border:none !important;
    box-shadow: none !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.custom-navbar{
    background-color: $primary !important;
}
.navbar-nav{
    align-items: left !important;
    justify-content: start !important;
}
.text-nav {
    color: rgba($color: #ffffff, $alpha: .5) !important;
}
.text-nav:hover {
    color: $white !important
}

.text-nav:active{
    color: $white !important;
}
.nav-link {
    position: relative;
    color: #d6e2d6 !important;
   
    text-decoration: none;
    display: inline-block; /* Ensure the link width is only as wide as the text */
}
.nav-link.active {
    color: #ffffff !important;
}
.nav-item:hover {
    cursor: pointer;
}


/* Hero */
.hero {
    background-color: $primary;
    height: 100%;
}
.hero-h1{
    font-size: 50px;
}
.btn {
    border-radius: 30px !important;
}
.btn-secondary {
    border-color: $secondary;
}
.btn-primary {
    border: 2px solid  $paragraph !important;
}
.btn-black{
    background-color: $black !important;
    color: white !important;

}
.btn-black:hover{
    background-color: rgba(0, 0, 0, 0.96) !important;
    color: white !important;
}
.btn-primary:hover {
    border: 2px solid  $white !important;
    background-color: transparent;
}

/* Products */
.product-item {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.product-item::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    border-radius: 30px;
    background-color: $lighter;
    transition: bottom 0.3s ease-in-out;
    z-index: 0;
}

.product-item:hover::before {
    bottom: 0;
}

.product-thumbnail {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover .product-thumbnail {
    transform: scale(1.1);
}

.product-details {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.icon-cross {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.icon-cross img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.product-item:hover .icon-cross{
    opacity: 1;
    bottom: 2px;
    z-index: 0;
}


/* Why Choose Us */
.icon{
    position: relative;
}
.icon:before{
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -8px;
    bottom: 0;
    left: 20px;
}

.why-before:before{
    position: absolute;
    content: "";
    width: 20vh;
    height: 20vh;
    background-image: url("../images/dots-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}
.why-before2:before{
    position: absolute;
    content: "";
    width: 15vh;
    height: 15vh;
    background-image: url("../images/dots-green.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.imgs-grid{
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    position: relative;
}
.grid-1{
    grid-column: 1 / span 18;
    grid-row: 1 / span 27;
}
.grid-2{
    grid-column: 19 / span 27;
    grid-row: 1 / span 5;
    padding-left: 20px;
}
.grid-3{
    grid-column: 14 / span 16;
    grid-row: 6 / span 27;
    padding-top: 20px;
}


.img-center-before{
    position: relative;
}
/* 3 items */
.img-center-before::before{
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        bottom: 10%;
        left: 10%;
        border-radius: 30px;
        background-color: $lighter;
        transition: bottom 0.3s ease-in-out;
        z-index: -1;
}

/* Testimonial */
.carousel-inner {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.testimonial-text {
    font-style: italic;
    margin: 20px 0;
}

.testimonial-author .author-photo {
    width: 50px;
    height: 50px;
}

.carousel-indicators li {
    background-color: #bbb;
}

.carousel-indicators .active {
    background-color: #717171;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 10px;
}
@media (min-width: 992px) {
    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #ffc400;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-out;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        transform: scaleX(1);
    }
}

@media (max-width:991px) {
    .navbar-nav{
        align-items: left !important;
        justify-content: start !important;
    }
    .custom-nav-items{
        padding-top: 20px !important;
     }
}






@import "../node_modules/bootstrap/scss/bootstrap.scss";
