@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


$white: #ffffff;
$black: #000000d2;
$primary: #3b5d50;
$secondary: #f9bf29;
$dark: #2f2f2f;
$light: #dce5e4;
$lighter: #eff2f1;
$body_color: #6a6a6a;
$paragraph: rgba($color: #ffffff, $alpha: .5);
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$font-family: "Inter", sans-serif;

.to-top {
    background-color: $primary;
    position: fixed !important;
    bottom: 30px !important;
    right: 30px !important;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 15px !important;
    border-radius: 50%;
    border: 1px solid $primary;
    transition: .4s;
    color: white;
}
.to-top:hover
{
    background-color: $white;
    color: #3b5d50 !important;
}

body {
	overflow-x: hidden;
	position: relative;
    background-color: #eff2f1 !important;
    
}
.text-lighter{
    color: $body_color;
}
.text-opacity-half{
    color: $paragraph;
}

/* Navbar */
.navbar-toggler{
    border-color: transparent !important;
}
.navbar-toggler:focus{
    border:none !important;
    box-shadow: none !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.custom-navbar{
    background-color: $primary !important;
}
.navbar-nav{
    align-items: left !important;
    justify-content: start !important;
}
.text-nav {
    color: rgba($color: #ffffff, $alpha: .5) !important;
}
.text-nav:hover {
    color: $white !important
}

.text-nav:active{
    color: $white !important;
}
.nav-link {
    position: relative;
    color: #d6e2d6 !important;
   
    text-decoration: none;
    display: inline-block; /* Ensure the link width is only as wide as the text */
}
.nav-link.active {
    color: #ffffff !important;
}
.nav-item:hover {
    cursor: pointer;
}


/* Hero */
.hero {
    background-color: $primary;
    height: 100%;
}
.hero-h1{
    font-size: 50px;
}
.btn {
    border-radius: 30px !important;
}
.btn-contact {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.45rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 15px !important;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-secondary {
    border-color: $secondary;
}

.btn-black{
    background-color: $black !important;
    color: white !important;

}
.btn-black:hover{
    background-color: rgba(0, 0, 0, 0.96) !important;
    color: white !important;
}


/* Products */
.product-item {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.product-item::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    border-radius: 30px;
    background-color: $light;
    transition: bottom 0.3s ease-in-out;
    z-index: 0;
}

.product-item:hover::before {
    bottom: 0;
}

.product-thumbnail {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover .product-thumbnail {
    transform: scale(1.1);
}

.product-details {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.icon-cross {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.icon-cross img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.product-item:hover .icon-cross{
    opacity: 1;
    bottom: 2px;
    z-index: 0;
}


/* Why Choose Us */
.icon{
    position: relative;
}
.icon:before{
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -8px;
    bottom: 0;
    left: 20px;
}

.why-before:before{
    position: absolute;
    content: "";
    width: 13vh;
    height: 13vh;
    background-image: url("../images/dots-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}
.why-before2:before{
    position: absolute;
    content: "";
    width: 15vh;
    height: 15vh;
    background-image: url("../images/dots-green.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}


.imgs-grid{
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    position: relative;
}
.grid-1{
    grid-column: 1 / span 18;
    grid-row: 1 / span 27;
}
.grid-2{
    grid-column: 19 / span 27;
    grid-row: 1 / span 5;
    padding-left: 20px;
}
.grid-3{
    grid-column: 14 / span 16;
    grid-row: 6 / span 27;
    padding-top: 20px;
}


.img-center-before{
    position: relative;
}
/* 3 items */
.img-center-before::before{
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        bottom: 10%;
        left: 10%;
        border-radius: 30px;
        background-color: $light;
        transition: bottom 0.3s ease-in-out;
        z-index: -1;
}

/* Testimonial */
.carousel-inner {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.carousel-indicators li {
    background-color: #bbb;
}

.carousel-indicators .active {
    background-color: #717171;
}

.navigation-carousel{
    background-color: rgba(59, 93, 80, 0.4);
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
}
.carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 1;
    opacity: 1 !important;
}

.carousel-indicators [data-bs-target]{
    background-color: $primary !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
.carousel-indicators{
    bottom: -50px !important;
}


// Blog //
.hover-light{
    transition: all .3s;
}
.hover-light:hover{
    filter: opacity(70%);
    transition: all .3s;
}

//footer//

.footer-img{
    position: absolute !important; 
    top: -200px !important; 
    right: 0px !important;
}
footer ::placeholder{
    font-size: 14px;
    color: $primary !important;
    opacity: .7 !important;
}
.media-links{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #dce5e4;
    color: $primary;
    border-radius: 50%;
    transition: all .3s ;
}
.media-links:hover
{
    background: $primary;
    color: #ffffff;
    transition: all .3s ;
}

.table img {
    max-width: 50px;
    height: auto;
}

.untree_co-section {
	padding: 7rem 0;
}


.form-control {
	height: 50px;
	border-radius: 10px;
	font-family: $font-family;
	&:active, &:focus {
		outline: none;
		box-shadow: none;
		border-color: $primary;
		box-shadow: 0 1px 4px 0 rgba($black, .2);
	}
	&::-webkit-input-placeholder {
		font-size: 14px;
	}
	&::-moz-placeholder {
		font-size: 14px;
	}
	&:-ms-input-placeholder {
		font-size: 14px;
	}
	&:-moz-placeholder {
		font-size: 14px;
	}
}

.service {
	line-height: 1.5;

	.service-icon {
		border-radius: 10px;
		flex: 0 0 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background: $primary;
		margin-right: 20px;
		color: $white;
	}
}

textarea {
	height: auto!important;
}


.site-blocks-table {
	overflow: auto;
	
	.btn {
		padding: 2px 10px;
	}
	thead {
		th {
			padding: 30px;
			text-align: center;
			border-width: 0px!important;
			vertical-align: middle;
			color: rgba($black, .8);
			font-size: 18px;
		}
	}
	td {
		padding: 20px;
		text-align: center;
		vertical-align: middle;
		color: rgba($black, .8);
	}
	

	.btn {
		background: none!important;
		color: $black;
		border: none;
		height: auto!important;
	}
}

.site-block-order-table {
	th {
		border-top: none!important;
		border-bottom-width: 1px!important;
	}
	td, th {
		color: $black;
	}
}


.couponcode-wrap {
	input {
		border-radius: 10px!important;
	}
	.btn {

	}
}
.text-primary {
	color: $primary!important;
}

.tablecart{
    width: 100%;
}
.product-thumbnail{
    border-radius: 0;
}
@media (min-width: 992px) {
  
    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #ffc400;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-out;
    }
   
    .nav-link:hover::after,
    .nav-link.active::after {
        transform: scaleX(1);
    }
    .navbar-nav{
        align-items: left !important;
        justify-content: start !important;
    }
    .custom-nav-items{
        padding-top: 20px !important;
     }
     
}

@media (max-width: 992px) {
    #navbarNav{
        padding-top: 10px !important;
       }
       .testimonial-text-smaller{
        font-size: 10px;
    }
    .hero-h1{
        font-size: 40px;
    }
    .about-carousel{
    padding-bottom: 200px !important;
    }
}
@media (max-width:767px){
    .footer-border-top{
        border-top: 1px solid #3b5d5072;
        border-width: 2px !important;
    }
    .footer-img{
        max-width: 280px !important;
    }
    .hero-h1{
        font-size: 30px;
    }
}

@media (max-width:575px) {
    
    .footer-img{
        top: -230px !important;
    }
    .send-footer{
        text-align: center !important;
    }
    
}






@import "../node_modules/bootstrap/scss/bootstrap.scss";
